/Distinfosystem/dotnetlab2/.vs/dotnetlab2/v15
/Distinfosystem/dotnetlab2/.vs/dotnetlab2/v15/
/Distinfosystem/dotnetlab2/dotnetlab2/bin/Debug/netcoreapp2.0/
/Distinfosystem/dotnetlab2/dotnetlab2/obj/
/Distinfosystem/dotnetlab2/dotnetlab2/dotnetlab2.csproj.user
/Distinfosystem/dotnetlab2/.vs/dotnetlab2/v15/sqlite3/
