/Laboration_4_Akta_Kurvan/Backend Server/AktaKurvanBackend/build/
/Laboration_4_Akta_Kurvan/Backend Server/AktaKurvanMavenServer/target/
/Laboration_4_Akta_Kurvan/Backend Server/AktakurvanMavenBackend/target/
/Laboration_4_Akta_Kurvan/Backend Server/AktaKurvanGameServer/nbproject/private/
/Laboration_4_Akta_Kurvan/Game Server/AktaKurvanGameServer/build/