@using dotnetlab2.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the community!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Hello Jakob</h2>
        <p>
            Last login:
            Total posts:
            Etc etc.
        </p>
    </div>
</div>