
@{
    ViewData["Title"] = "Readpage";
    
}
@model dotnetlab2.Models.HomeViewModels.ReadpageViewModel
@using static dotnetlab2.Models.HomeViewModels.MessageInfo

    @{ 
        foreach(var mi in Model.Messages)
        {
            <br />
            @Html.DisplayFor(Topic => mi.Topic)
            <br />

        }
    }

    <form name="toUnreadMessages" action="UnreadMessages.cshtml" method="POST">
        
           

    <input type="submit" value="See Unread Messages" name="Unread Messages" />
</form>

<h2>Readpage</h2>
Meddelanden
