
@{
    ViewData["Title"] = "Write page";
}
@model dotnetlab2.Models.HomeViewModels.WritepageViewModel
<h2>Write page</h2>
<form method="post">


    @Html.DropDownListFor(m => m.UserId, new SelectList(Model.Users, "UserId", "Username", Model.UserId), "-- Send to --"
    )
    <br />
    <br />
    Topic <input asp-for="Topic" class="form-control" />
    <span asp-validation-for="Topic" class="text-danger"></span>
    <br />
    Message
    <br />
<textarea asp-for="Message"></textarea>
    <span asp-validation-for="Message" class="text-danger"></span>
    <br />
    <br />
    <button type="submit">Send message</button>
</form>
