
@{
    ViewData["Title"] = "Write page";
}
@model dotnetlab2.Models.HomeViewModels.WritepageViewModel
<h2>Write page</h2>
<p>@ViewData["StatusMessage"]</p>
<form method="post">


    @Html.DropDownListFor(m => m.UserId, new SelectList(Model.Users, "UserId", "Username"), "-- Send to --", new { required = "required" })
    <br />
    <br />
    Topic <input asp-for="Topic" class="form-control" required/>
    <br />
    Message
    <br />
<textarea asp-for="Message" required></textarea>
    <br />
    <br />
    <button type="submit">Send message</button>
</form>
